doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title(Dyrics)
  link(rel="stylesheet" href="stylesheets/dyrics.css")
body
  .content
    // Navigation
    input.action-input(type="checkbox" data-nav="true" checked="checked" )

    // Song Selection
    input(type="radio" id="toggle-0" name="toggle" checked="checked")
    each song, i in songs
      - if (song.active)
        - var forName = "toggle-" + (i+1)
        input(type="radio" id=forName name="toggle")
    nav.nav
      style(id="searchStyle")
      input(type="text" id="searchbar" placeholder="Filter by Song or Artist ... ")

      .label-list
        each song, i in songs
          - if (song.active)
            - var forName = "toggle-" + (i+1)
            label.toggle(data-clue=song.title.toLowerCase() for=forName)
              div.artist= song.title.split(' - ').shift() 
              div.songName= song.title.split(' - ').pop()

        label.toggle(for="toggle-0")
          div.artist ★
          div.songName ★

    section.song-list
      // Column Display Toggler
      input.action-input( type="checkbox" data-column="true" checked="" name="display" title="Toggle display direction")
      // Chords Display Toggler
      input.action-input( type="checkbox" data-chords="true" checked="" name="display" title="Toggle Chords")

      article.song#song-ug
      article.song#song-0
        h1 Hello
        h2 Features
        ul
          li Toggable display between column and row (<span>default: column</span>)
          li Toggable chords in tabs (<span>default: displayed</span>)
          li Toggable menu with searchbar and a list of predefined tabs (<span>default: displayed</span>)
script(src="dyrics.js")
